@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-1 h-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-green-400 rounded;
}

html {
  @apply scroll-smooth;
  @apply lg:text-xl;
}

.wrapper {
  perspective: 10px;
  @apply h-screen overflow-y-auto overflow-x-hidden scroll-smooth;
}
header {
  transform-style: preserve-3d;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
  @apply relative h-full;
}

.tooltip {
  @apply invisible absolute rounded bg-gray-200 text-darkBg px-2 text-sm text-center bottom-full transition-all duration-150 ease-in-out;
}
.has-tooltip {
  @apply relative inline-block grayscale hover:grayscale-0 transition-all duration-200 ease-in-out;
}
.has-tooltip:hover .tooltip {
  @apply visible z-10;
}

.hex::before {
  content: "";
  @apply absolute top-[-30px] border-b-[30px] border-b-green-400 border-x-[52px] border-solid border-x-transparent;
}
.hex {
  @apply w-[104px] h-[60px] bg-green-400 relative mt-8 flex justify-center items-center;
}
.hex::after {
  content: "";
  @apply absolute bottom-[-30px] border-t-[30px] border-t-green-400 border-x-[52px] border-solid border-x-transparent;
}

.hexInside::before {
  content: "";
  @apply absolute z-10 top-[-26px] border-b-[26px] border-b-darkBg border-solid border-x-transparent border-x-[48px];
}
.hexInside {
  @apply w-[95px] h-[55px] bg-darkBg relative;
}
.hexInside::after {
  content: "";
  @apply absolute z-10 bottom-[-26px] border-t-[26px] border-t-darkBg border-solid border-x-transparent border-x-[48px];
}
